/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #6B3CC9;
    border-radius: 12px;
    transition: all 0.3s ease;
}


.column {
  flex: 1;
  margin: 0 15px; /* Adjust margin as needed */
  width: 100%; /* Full width by default */
  
}
.col1 {
  flex-basis: 50%; /* Take half width */
}

.col2, .col3 {
  flex-basis: 20%; /* Take quarter width */
}
.list1{
  list-style: none;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
  .home .home-content{
    width: 40%;
    height: fit-content;
    bottom: 10%;
    left: 10%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #1CBDDD, #4DCA79);
    color: #FFF;
    font-size: 25px;
    text-align: center;
    
  }
  .col1 {
    flex-basis: 100%; /* Take full width */
    margin: 10px 0; /* Adjust margin as needed */
  }
  .col2, .col3 {
    flex-basis: 40%; /* Half width */
    margin: 10px 5px; /* Adjust margin as needed */
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
  .home .home-content{
    width: 40%;
    height: fit-content;
    bottom: 10%;
    left: 10%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #1CBDDD, #4DCA79);
    color: #FFF;
    font-size: 20px;
    text-align: center;
    
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
  .home .home-content{
    width: 50%;
    height: fit-content;
    bottom: 10%;
    left: 10%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #1CBDDD, #4DCA79);
    color: #FFF;
    font-size: 20px;
    text-align: center;
    
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: 100%;
    top: 0;
    background: #FFF;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    padding-top: 70px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 14px;
    display: block;
    color: #000000;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .contact .contact-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .contact-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .home .home-content{
    width: 100%;
    height: fit-content;
    bottom: 0;
    left: 0%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #1CBDDD, #4DCA79);
    color: #FFF;
    font-size: 20px;
    text-align: center;
    
  }
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .contact-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
  .home .home-content{
    width: 100%;
    height: fit-content;
    bottom: 0;
    left: 0%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #1CBDDD, #4DCA79);
    color: #FFF;
    font-size: 20px;
    text-align: center;
    
  }
  .column {
    flex-basis: 100%; /* Take full width */
    margin: 10px 0; /* Adjust margin as needed */
  }
}
@media screen and (max-width: 768px) {
  .container-box2 {
    flex-direction: column;
  }

  .left, .right {
    flex: unset;
  }
}